.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  background: #dcf1ff;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}